<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<style>
    .label{
    height: 35px;
    width: 500px;
    border: 1px solid transparent;
    margin: 5px 0;
    }
    .container{
    height: auto;
    width: 580px;
    border: 1px solid transparent;
    padding: 3%;
    margin-left: 27%;
    }
    h1{
    margin-left: 37%;
    }
    button{
    height: 40px;
    width: 90px;
    border-radius: 10px;
    background-color: #0066ff;
    color: white;
    font-size: 15px;
    margin-left: 37%;
    margin-top: 4%;
    }

</style>
{% extends 'school_main.html'%}
{% block content %}
<body>

<h1><strong>QUIZ COMPETITION</strong></h1>

<div class="container" style="margin-left: 27%;">

{% for ques in question %}

<form action="take_quiz" method="POST">
    <table>
        <tr><th><span style="font-size: 20px; font-weight: bold;text-decoration: underline;">{{ques.question}}</span></th></tr>
  <tr><td><div class="label"><input type="checkbox" name="option_1">
      <label><strong>{{ques.option_1}}</strong></label></div></td></tr>

  <tr><td><div class="label"><input type="checkbox" name="option_2">
      <label> <strong>{{ques.option_2}}</strong></label></div></td></tr>

  <tr><td><div class="label"><input type="checkbox" name="option_3">
      <label><strong> {{ques.option_3}}</strong></label></div></td></tr>

  <tr><td><div class="label"><input type="checkbox" name="option_4">
      <label><strong> {{ques.option_4}}</strong></label></div></td></tr>


      <tr><td><div class="label" style="background-color: green; padding: 1% 0;">
      <label><strong>Answer: {{ques.answer}}</strong></label></div></td></tr>

  <tr><td><div class="label">
      <label><strong>Explanation: {{ques.explanation}}</strong></label></div></td></tr><br>

    </table>
</form>

{% endfor %}
    <button type="submit"><a href="{% url 'home'%}">Submit</a></button>
    </div>
{% endblock %}
</body>
</html>